.dash-card {
  border: 1px solid var(--soft-grey);
  height: 360pt;
  border-radius: 8pt;
  background-color: white;

  .contents {
    padding: 20pt;
    height: 100%;
    box-sizing: border-box;
  }
}

.dash-card.with-actions {
  display: grid;
  grid-template-rows: 46pt auto;

  .actions {
    display: grid;
    grid-template-columns: 32pt 1fr auto;
    align-items: center;
    padding: 0 10pt;
    border-bottom: 1px solid var(--soft-grey);

    .icon {
      text-align: center;
      font-size: 24pt;
      color: var(--pale-green);
      margin-right: 10pt;
    }

    .label {
      margin: 0;
      padding: 0;
      font-size: 24pt;
      color: var(--brand-secondary);
      font-weight: 400;
    }

    .extras {
      display: flex;
      align-items: center;
      color: var(--medium-grey);
    }
  }
}
