:root {
  --brand-primary: #5BBFBA;
  --brand-secondary: #5F6CAF;

  --soft-blue: #edf0f9;
  --soft-white: #efefef;
  --soft-grey: #d6d6d6;

  --pale-yellow: #E7F0C3;
  --pale-green: #A4D4AE;
  --pale-blue: #b6e2ff;
  --pale-purple: #dcb1e9;

  --medium-blue: #436cc8;
  --medium-yellow: #F0CF85;
  --medium-grey: #afafaf;
  --faded-grey: #4a4a4a;
  --dark-grey: #2c2c2c;

  --primary-background: var(--soft-blue);
  --secondary-background: var(--soft-white);
}

