@import "../styles/mixins";

.home.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .action-bar {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .side-bar {
    grid-column: 1;
    grid-row: 2;
  }

  .page-content {
    overflow: auto;
    grid-column: 2;
    grid-row: 2;
    padding: 20px;

    .cards {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      display: grid;

      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}

.dash-card {
  grid-column: span 1;
}

@include dashboard-2-col {
  .home.page .page-content .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .dash-card {
    grid-column: span 1;
  }

  .dash-card.medium, .dash-card.large, .dash-card.xlarge, .dash-card.sm-medium-expand {
    grid-column: span 2;
  }
  
}

@include dashboard-3-col {
  .home.page .page-content .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .dash-card {
    grid-column: span 1;
  }

  .dash-card.medium {
    grid-column: span 2;
  }

  .dash-card.large, .dash-card.xlarge {
    grid-column: span 3;
  }
}


@include dashboard-4-col {
  .home.page .page-content .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .dash-card {
    grid-column: span 1;
  }

  .dash-card.medium {
    grid-column: span 2;
  }

  .dash-card.large {
    grid-column: span 3;
  }
}
