.quick-quote.dash-card {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10pt;
    grid-row-gap: 20pt;

    .input-group {
      grid-column: span 1;
    }
    
  }

  .submit-button {
    height: 3.6em;
    outline: none;
    border: none;
    border-radius: 500px;
    background-color: var(--brand-primary);
    color: white;
    font-size: 12pt;
    cursor: pointer;
  }

  .submit-button:hover {
    filter: brightness(1.1);
  }
}
