.side-bar {
  width: 150pt;
  height: auto;
  background-color: var(--secondary-background);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
 
  .nav-items {
    list-style: none;
    padding: 0;

    .nav-item {
      display: grid;
      grid-template-columns: 24pt 1fr;
      align-items: center;
      padding-left: 24pt;
      color: var(--brand-secondary);
      background-color: var(--secondary-background);
      height: 44pt;

      cursor: pointer;
      transition: filter 150ms;

      &:hover {
        filter: brightness(0.95);
        transition: filter 150ms;
      }
    }

    .footer-item {
      font-size: 10pt;
      line-height: 10pt;
      padding: 0 10pt;
      text-align: center;

      /** copyright is using the background with a filter so it always looks darkened */
      /** note: only works with light backgrounds. */
      .copyright {
        color: var(--secondary-background);
        filter: brightness(0.75);
      }

    }
  }
  

  .divider {
    background-color: var(--secondary-background);
    filter: brightness(0.93);
    height: 2px;
    width: 100%;
    display: block;
  }
}
